/* Ocultamos el texto en inglés */
a[href$=".zip"] {
    font-size: 0 !important;
}

/* Escribimos el español encima */
a[href$=".zip"]::after {
    content: "Descargar álbum como archivo zip";
    font-size: 16px;
    color: #0366d6;
    text-decoration: underline;
}